// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


body{
  width: 100vw;
  height: 100vh;
  background:#fafafa;
}

/* Bottom hack for IE*/
svg{
  width: 100%;
  height: 1px;
  padding-bottom: 50%;
  overflow: visible;
}

label{
  font-size: 20px;
  font-weight: bold;
}

#flex_container{
  width: 100%;
  height: auto;
  display: flex;
  margin:20px;
}

.first_container{
  width: 100%;
  height: auto;
}

.second_container{
  width: 100%;
  height: auto;
}
